
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
a,
p,
h1,
h2,
h3,
h5,
h5,
li,
ul,
ol,
dl,
dt,
dd,
* {
  font-family: "Roboto Mono", sans-serif;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
}
body {
  height: 100dvh;

  background: var(--ui-background);
}

.text-11 {
  font-size: 11px;
  font-weight: 700;
  line-height: 13.31px;
  letter-spacing: -0.04em;
}

.shadow-1 {
  box-shadow: 0px -2px 1px -1px #ffffff59 inset;
}

.linear-gradient-1 {
  background: linear-gradient(90deg, #f38424 0%, #f7c929 100%);
}

.linear-gradient-green-1 {
  background: linear-gradient(180deg, #02e402 2.5%, #02db02 100%);
}

.stroke-0-4 {
  -webkit-text-stroke: 0.8px #3b3b3b;
  -webkit-text-fill-color: white;
  paint-order: stroke fill;

  text-shadow: 0px 0.5px 0px #000000, 0px 0.7px 1px #000000cc;
}

.stroke-0-7 {
  -webkit-text-stroke: 1.2px #3b3b3b;
  -webkit-text-fill-color: white;
  paint-order: stroke fill;

  text-shadow: 0px 0.5px 0px #000000;
}

.stroke-0-8 {
  -webkit-text-stroke: 1.4px #3b3b3b;
  -webkit-text-fill-color: white;
  paint-order: stroke fill;

  text-shadow: 0px 0.93px 0px #000000, 0px 0.5px 2px #00000066;
}

.stroke-1 {
  -webkit-text-stroke: 1.5px #3b3b3b;
  -webkit-text-fill-color: white;
  paint-order: stroke fill;

  text-shadow: 0px 0.93px 0px #000000, 0px 0.5px 2px #00000066,
    0px 1px 0px #000000, 0px 1px 0px #000000;
}

.stroke-1-51 {
  -webkit-text-stroke: 2px #3b3b3b;
  -webkit-text-fill-color: white;
  paint-order: stroke fill;

  text-shadow: 0px 2.41px 0px 0px #000000;
}

.linear-gradient-play-game {
  background: linear-gradient(
    180deg,
    #fee20e 26.5%,
    #fcd113 36%,
    #fcd113 64%,
    #f6ba06 97%
  );
}

[data-sonner-toast] {
  display: flex;
  justify-content: center;
}

.gradient-text {
  background: linear-gradient(90deg, #ff9d4a 0%, #fa85c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-linear {
  background: linear-gradient(
    90deg,
    #bccfdf 2.27%,
    #ddecf8 45.83%,
    #bccfdf 100%
  );
}

.bg-gradient-loading {
  background: radial-gradient(50% 50% at 50% 50%, #046ffa 0%, #0447bb 100%);

  border: 2px solid #0776e6;

  padding: 12px 18px;
}
#ton-connect-button button {
  opacity: 0;
  width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
.animate-fade-out {
  animation: fadeOut 0.4s forwards;
}

@media (max-width: 410px) {
  .hide-on-415 {
    display: none !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}